extends layout

block content
  h1= title
  if result
    ul
      for item in result
        li
            div
                div= item.operation
                div= item.amount
                div= item.date
  else
    p Welcome to expenses analytics
    div
        Please
        a(href='/auth/outlook') login