extends layout

block content
  h1= title
  if result
      script.
        var values=[!{result}];
      #root
      script(type='text/javascript', src='/javascripts/main.min.js')
  else
    p Welcome to expenses analytics
    div
        Please
        a(href='/auth/outlook') login